<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>ちょっとなるほど役立つ教養シェアしませんか？</h1>
        <% unless logged_in? %>
            <%= link_to 'TIPSHAREを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if logged_in? %>
<div class="row">
  <div class="col-sm-5">
    <%= render partial: 'microposts/micropost', locals: { micropost: @micropost, microposts: @microposts, likes: @likes} %>
  </div>
  <div class="col-sm-offset-2 col-sm-5">
    <h1>カテゴリー</h1>
    <ul class="media-list">
    <% @categories.each do |category| %>
      <li class="media">
        <div class="media-body">
          <div class="alert alert-info" role="alert">
            <%= link_to category.content, category_path(category) %>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
